* {
    box-sizing: border-box;
}

body {
    font-family: "Cera Pro DEMO", sans-serif;
}

.header {
    margin-top: 30px;
}

.header__container {
    max-width: 1200px;
    height: 53px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3D3D3D;
    font-weight: 400;
}

.nav__item--active {
    font-weight: 700;
}

.nav__item a {
    margin-right: 50px;
    text-decoration: none;
    color: #3D3D3D;
}

.header__logo img {
    width: 150px;
    height: 34px;
}

.button {
    background-color: #46A358;
    color: #FFFFFF;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.button--login {
    width: 100px;
    height: 35px;
}

.button__icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.hero-section__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%);
    max-width: 1200px;
    height: 450px;
    margin: 12px auto 52px;
}

.hero-section__subtitle {
    text-transform: uppercase;
    color: #3D3D3D;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    letter-spacing: 0.1em;
}

.hero-section__title {
    text-transform: uppercase;
    color: #3D3D3D;
    font-size: 70px;
    line-height: 70px;
    font-weight: 900;
    width: 530px;
    margin-bottom: 4px;
}

.hero-section__highlight {
    color: #46A358;
}

.hero-section__text {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    line-height: 24px;
    width: 557px;
    margin-bottom: 44px;
}

.hero-section__elements-wrapper {
    margin: 68px 92px 85px 40px;
}

.button--shop {
    width: 140px;
    height: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-section__image {
    width: 507px;
    height: 450px;
}
